<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Fruitkha</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meanmenu/2.0.8/meanmenu.min.css">

    <!-- main style -->
    <link rel="stylesheet" href="~/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/css/responsive.css">


</head>
<body>

	<!--PreLoader-->
	<div class="loader" style="display: none;">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->
	<!-- header -->
	<div id="sticker-sticky-wrapper" class="sticky-wrapper" style="height: 48px;">
		<div class="top-header-area" id="sticker" style="width: 902px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 text-center">
						<div class="main-menu-wrap">
							<!-- logo -->
							<div class="site-logo">
								<a href="index.html">
									<img src="assets/img/logo.png" alt="">
								</a>
							</div>
							<!-- logo -->
							<!-- menu start -->
							<div class="mean-push"></div><nav class="main-menu" style="display: none;">
								<ul>
									<li class="current-list-item">
										<a href="#">Home</a>
										<ul class="sub-menu">
											<li><a href="index.html">Static Home</a></li>
											<li><a href="index_2.html">Slider Home</a></li>
										</ul>
									</li>
									<li><a href="about.html">About</a></li>
									<li>
										<a href="#">Pages</a>
										<ul class="sub-menu">
											<li><a href="404.html">404 page</a></li>
											<li><a href="about.html">About</a></li>
											<li><a href="cart.html">Cart</a></li>
											<li><a href="checkout.html">Check Out</a></li>
											<li><a href="contact.html">Contact</a></li>
											<li><a href="news.html">News</a></li>
											<li><a href="shop.html">Shop</a></li>
										</ul>
									</li>
									<li>
										<a href="news.html">News</a>
										<ul class="sub-menu">
											<li><a href="news.html">News</a></li>
											<li><a href="single-news.html">Single News</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact</a></li>
									<li>
										<a href="shop.html">Shop</a>
										<ul class="sub-menu">
											<li><a href="shop.html">Shop</a></li>
											<li><a href="checkout.html">Check Out</a></li>
											<li><a href="single-product.html">Single Product</a></li>
											<li><a href="cart.html">Cart</a></li>
										</ul>
									</li>
									<li>
										<div class="header-icons">
											<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
											<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
										</div>
									</li>
								</ul>
							</nav>
							<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
							<div class="mobile-menu mean-container">
								<div class="mean-bar">
									<a href="#nav" class="meanmenu-reveal" style="background:;color:;right:0;left:auto;"><span></span><span></span><span></span></a><nav class="mean-nav">
										<ul style="display: none;">
											<li class="current-list-item">
												<a href="#">Home</a>
												<ul class="sub-menu" style="display: none;">
													<li><a href="index.html">Static Home</a></li>
													<li><a href="index_2.html">Slider Home</a></li>
												</ul>
												<a class="mean-expand" href="#" style="font-size: 18px">+</a>
											</li>
											<li><a href="about.html">About</a></li>
											<li>
												<a href="#">Pages</a>
												<ul class="sub-menu" style="display: none;">
													<li><a href="404.html">404 page</a></li>
													<li><a href="about.html">About</a></li>
													<li><a href="cart.html">Cart</a></li>
													<li><a href="checkout.html">Check Out</a></li>
													<li><a href="contact.html">Contact</a></li>
													<li><a href="news.html">News</a></li>
													<li><a href="shop.html">Shop</a></li>
												</ul>
												<a class="mean-expand" href="#" style="font-size: 18px">+</a>
											</li>
											<li>
												<a href="news.html">News</a>
												<ul class="sub-menu" style="display: none;">
													<li><a href="news.html">News</a></li>
													<li><a href="single-news.html">Single News</a></li>
												</ul>
												<a class="mean-expand" href="#" style="font-size: 18px">+</a>
											</li>
											<li><a href="contact.html">Contact</a></li>
											<li>
												<a href="shop.html">Shop</a>
												<ul class="sub-menu" style="display: none;">
													<li><a href="shop.html">Shop</a></li>
													<li><a href="checkout.html">Check Out</a></li>
													<li><a href="single-product.html">Single Product</a></li>
													<li><a href="cart.html">Cart</a></li>
												</ul>
												<a class="mean-expand" href="#" style="font-size: 18px">+</a>
											</li>
											<li class="mean-last">
												<div class="header-icons">
													<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
													<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
												</div>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- menu end -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->
	

	<div>
		@RenderBody();	
	</div>

			<!-- end logo carousel -->
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights © 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/meanmenu/2.0.8/jquery.meanmenu.min.js"></script>
    <script src="~/js/sticker.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>